* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /*display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;*/
    font-family: sans-serif;
    margin: 0 auto;
    padding: 1.25rem;
    background-color: hsl(204, 43%, 93%);
}

.card {
    padding: 1.875rem;
}

.join {
    background-color: white;
    padding: 25px;
    border-radius: 10px 10px 0 0;
}

.join h1 {
    color: hsl(179, 62%, 43%);
    font-size: 20px;
    padding-bottom: 30px;
}

.join h2 {
    color: hsl(71, 73%, 54%);
    font-size: 18px;
    padding-bottom: 25px;
    
}

.join p {
    color: hsl(218, 22%, 67%);
}

p, ul {
    line-height: 1.5;
    font-size: 16px;
}

.bottom {
    color: lightgrey;
}
.subscription {
    background-color: hsl(179, 60%, 40%);
    padding: 25px;
    
}

.subscription h2 {
    font-size: 20px;
}

.price {
    font-size: 30px;

}

button {
    background-color: hsl(71, 73%, 54%);
    border: none;
    color: white;
    border-radius: 10px;
    padding: 10px 90px;
    margin-top: 30px;
}

.why {
    background-color: hsl(179, 62%, 43%);
    padding: 25px;
    border-radius: 0 0 10px 10px;
    
}

.why h2 {
    font-size: 20px;
    padding-bottom: 15px;
}

ul {
    list-style: none;
}

@media (min-width: 992px) {

    .card {
        max-width: 700px;
        margin: auto;
    }
    .bottom {
        display: flex;
        flex-direction: row;
    }

    .subscription {
        flex: 1;
        border-radius: 0 0 0 10px;
        padding-top: 30px;
    }

    .why {
        flex: 1;
        border-radius: 0 0 10px 0;
        padding-top: 30px;
    }
}